body {
	background: #d4d48a;
	margin: 0;
	padding: 0;
}

.analog {
	width: 30%;
	margin: 100px auto;
	
	position: relative;
	img {
		
		display: block;
		width: 100%;
		
		margin: auto;


		/*щоб не можна було виділити мишкою елемент*/
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;  
		
	}


	div {


		img {
			position: absolute;
			top:0;
		}
		
		#hour {
				z-index: 1;
				/*
				щоб повернути елемент
				-moz-transform: rotate(30deg);   Firefox 
	  			-o-transform: rotate(30deg);   Opera 
	  			-webkit-transform: rotate(30deg);   Safari y Chrome 
	  			*/
	 
		}

		#minute {
			z-index: 2;
			
		}

		#second {
			z-index: 3;


		}
	}
}

.digital {
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;


	ul {
		
		margin: auto;
		display: block;
		text-align: center;

		font-size: 5em;
		font-family: 'Freehand521 BT','Play', sans-serif;
		
		li {
			
			display: inline;

		}
	}
}